body {
   background-color:rgb(229,227,223);
}

div#header {
        padding: 30px;
        background-image: url("library.jpg");
        border-bottom: 2px solid orange;
}
 
 div#header p.title {
 	font-size: 200%;
 	font-weight: bold;
 	
 }
 div#header p{
 	display: inline-block;
 }
 
body {
font-family: sans-serif;
margin:0;
padding:0;
color: white;

}


div#footer {
	color: #666;
	padding: 30px;
	border-top:  2px solid #666;
}
